<h2>{{concat '{{' model.name '}}'}}</h2>

<div class='grid'>
  {{md-text text=model.description}}

  {{#each model.attributes as |attribute|}}
    {{attribute.name}}
    {{md-text text=attribute.description}}
  {{/each}}
</div>
