{{#let (file-queue name='demo' onFileAdded=this.addToQueue) as |queue|}}
  <FileDropzone @queue={{queue}} class="demo-upload__dropzone" as |dropzone|>
    <form>
    <label>
      <input type='file' {{queue.selectFile}} />
    </label>
  </form>
    {{#if dropzone.active}}
      Drop to upload
    {{else if queue.files.length}}
      Uploading {{queue.files.length}} files. ({{queue.progress}}%)
    {{else if dropzone.supported}}
      Or drag and drop files here to upload them
    {{/if}}
  </FileDropzone>
{{/let}}

<div>
  <h3>Uploaded Files</h3>
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Type
        </th>
        <th>
          Size
        </th>
        <th>
          Source
        </th>
        <th>
          State
        </th>
        <th>
          Progress
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.uploadedFiles as |file|}}
        <tr>
          <td>{{file.name}}</td>
          <td>{{file.type}}</td>
          <td>{{file.size}}</td>
          <td>{{file.source}}</td>
          <td>{{file.state}}</td>
          <td>{{file.progress}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>