{{!-- <DocsViewer as |viewer|>

  <viewer.nav as |nav|>
    {{nav.item "Getting started" "docs.index"}}
    {{nav.item "Recipes" "docs.recipes"}}
    {{nav.item "Integration" "docs.integration"}}
    {{nav.item "Validation" "docs.validation"}}
    {{nav.item "Testing" "docs.testing"}}
    {{nav.item "AWS S3 Direct Uploads" "docs.aws"}}
  </viewer.nav>

  <viewer.main>
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>

</DocsViewer> --}}

{{outlet}}