<label
  for={{this.for}}
  class="file-upload"
  ...attributes
  {{did-insert this.attachListeners}}
>
  <input
    id={{this.for}}
    type="file"
    accept={{@accept}}
    capture={{@capture}}
    multiple={{@multiple}}
    disabled={{@disabled}}
    value={{this.value}}
    hidden
    {{this.queue.selectFile filter=@filter filesSelected=@filesSelected}}
  />

  {{yield this.queue}}
</label>

