<label
  for={{this.for}}
  class="file-upload"
  {{update-queue
    this.queue
    accept=@accept
    multiple=@multiple
    disabled=@disabled
    onFileAdd=this.onFileAdd
  }}
>
  <input
    id={{this.for}}
    type="file"
    accept={{@accept}}
    capture={{@capture}}
    multiple={{@multiple}}
    disabled={{@disabled}}
    value={{this._value}}
    hidden
    {{on 'change' this.change}}
  />
</label>
{{yield this.queue}}
