<div id="index">
<div class="hero">
  <p>A file upload framework <br>for {{inline-svg "ember-logo" class="ember-logo" alt="ember"}} apps</p>
  <a class="more" href="#installation">{{inline-svg 'arrow'}}</a>
</div>

<main>
  <section id="installation">
    <h2>Installation</h2>
    {{#window-pane}}
      <span class="ps1">$ </span>ember install ember-file-upload
    {{/window-pane}}
  </section>

  <section id="demo">
    <h2>Demo</h2>
    <div class="grid">
      {{#window-pane title="Abduction Photos"}}
        {{#file-dropzone id="cat-photos" name="photos" as |dropzone queue|}}
          {{#if dropzone.supported}}
            <div class="emoji">
              {{#if dropzone.active}}
                {{#if dropzone.valid}}
                  ✨👽✨
                {{else}}
                  🐮
                {{/if}}
              {{else}}
                👽
              {{/if}}
            </div>
          {{/if}}

          <p>
            {{#if dropzone.supported}}
              Drag your photos or
            {{/if}}
            {{#file-upload name="photos"
                           multiple=true
                           onfileadd=(route-action "uploadImage")
                           accept="image/*,video/*,audio/*"}}
              <a>select them</a>
            {{/file-upload}}
            to upload.
          </p>

          {{#if queue.files.length}}
            Uploaded {{queue.uploaded.length}} / {{queue.files.length}} files. ({{queue.progress}}%)
          {{/if}}
        {{/file-dropzone}}
      {{/window-pane}}
    </div>
    <div class="grid">
      <ul>
        {{#each model as |file|}}
          <li>
            {{#if (equals file.type 'image')}}
              <img src={{file.preview}} style="max-width: 200px; max-height: 200px">
            {{else if (equals file.type 'video')}}
              <video src={{file.preview}} style="max-width: 200px; max-height: 200px" loop=true autoplay></video>
            {{/if}}
            {{file.filename}}
          </li>
        {{/each}}
      </ul>
    </div>
  </section>
  </main>
</div>