{{outlet}}

<hr>
{{upload-queue for="images"
               accept="image/jpeg, image/gif, image/png"
               onfileadd=(action "uploadImage")}}

{{#file-dropzone queue=(upload-queue for="images") as |dropzone|}}
  <div style="width: 80%; height: 100px; border: 2px dashed gray; padding: 0 20px">
    {{#if dropzone.active}}
      {{#if dropzone.valid}}
        Drop to upload
      {{else}}
        Invalid
      {{/if}}
    {{else if (upload-queue for="images")}}
      {{#with (upload-queue for="images") as |queue|}}
        Uploading {{queue.length}} files. ({{queue.progress}}%)
      {{/with}}
    {{else}}
      <h4>Upload Images</h4>
      <p>
        {{#if dropzone.active}}
          Drag and drop images onto this area to upload them or
        {{/if}}
        {{#file-upload queue=(upload-queue for="images")}}
          <a id="upload-image">Add an Image.</a>
        {{/file-upload}}
      </p>
    {{/if}}
  </div>
{{/file-dropzone}}

<h4>Events</h4>
<ul>
  {{#each events as |event|}}
    <li><img src={{event.preview}} style="max-width: 100px; max-height: 100px">{{event.filename}}</li>
  {{/each}}
</ul>
