{{outlet}}

<h2>PlUpload Test</h2>
<hr>
{{#pl-uploader extensions="jpg jpeg png gif" for="upload-image" onfileadd="uploadImage" as |queue features|}}
  <div class="dropzone" id={{features.drag-and-drop.dropzone-id}} style="width: 80%; height: 100px; border: 2px dashed gray; padding: 0 20px">
    {{#if features.drag-and-drop.drag-data}}
      {{#if features.drag-and-drop.drag-data.valid}}
        Drop to upload
      {{else}}
        Invalid
      {{/if}}
    {{else if queue.length}}
      Uploading {{queue.length}} files. ({{queue.progress}}%)
    {{else}}
      <h4>Upload Images</h4>
      <p>
        {{#if features.drag-and-drop}}
          Drag and drop images onto this area to upload them or
        {{/if}}
        <a id="upload-image">Add an Image.</a>
      </p>
    {{/if}}
  </div>
{{/pl-uploader}}

<h4>Events</h4>
<ul>
  {{#each events as |event|}}
    <li><img src={{event.preview}} style="max-width: 100px; max-height: 100px">{{event.filename}}</li>
  {{/each}}
</ul>
