{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.item 'Getting started' 'docs.index'}}
    {{nav.item 'Recipes' 'docs.recipes'}}
    {{nav.item 'Integration' 'docs.integration'}}
    {{nav.item 'Testing' 'docs.testing'}}
    {{nav.item 'AWS S3 Direct Uploads' 'docs.aws'}}

    {{! TODO when fixed -> https://github.com/ember-learn/ember-cli-addon-docs/issues/136 }}
    {{nav.section 'Helpers'}}
    {{nav.item '{{file-queue}}' 'docs.helper.file-queue'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}