<header>
  <h1>{{inline-svg 'icon'}} ember-file-upload</h1><nav>
    <a href="#docs">Docs</a>
    <a href="#recipes">Recipes</a>
    <a href="#aws-integration">AWS Integration</a>
    <a href="https://github.com/tim-evans/ember-file-upload" target="__blank">GitHub</a>
  </nav>
</header>

<div class="hero">
  <p>A file upload framework <br>for <img class="ember-logo" alt="ember" src="assets/images/ember-logo.png" /> apps</p>
  <a class="more" href="#installation">{{inline-svg 'arrow'}}</a>
</div>

<main>
  <section id="installation">
    <h2>Installation</h2>
    {{#console-window}}
      <span class="ps1">$ </span>ember install ember-file-upload
    {{/console-window}}
  </section>

  <section id="usage">
    <h2>Usage</h2>
    <div class="grid">
      <div class="half">
      </div>
    </div>
  </section>

  <section id="demo">
    <h2>Demo</h2>
    <div class="grid">
      <div class="half">
        {{#app-window title="Photos of My Cat" id='cat-photos'}}
          {{#with (file-queue for="images") as |queue|}}
            {{#with (file-dropzone for="cat-photos" queue=queue) as |dropzone|}}
              {{#if dropzone.supported}}
                <div class="cat">
                  {{#if dropzone.active}}
                    {{#if dropzone.valid}}
                      😻
                    {{else}}
                      🙀
                    {{/if}}
                  {{else}}
                    😺
                  {{/if}}
                </div>
              {{/if}}

              <p>
                {{#if dropzone.supported}}
                  Drag your photos or
                {{/if}}
                {{#file-upload queue=(file-queue for="images"
                                                 multiple=true
                                                 onfileadd=(action "uploadImage")
                                                 accept="image/*")}}
                  <a>select them</a>
                {{/file-upload}}
                to upload.
              </p>

              {{#if queue.files.length}}
                Uploaded {{queue.uploaded.length}} / {{queue.files.length}} files. ({{queue.progress}}%)
              {{/if}}
            {{/with}}
          {{/with}}
        {{/app-window}}
        <h4>Events</h4>
        <ul>
          {{#each events as |event|}}
            <li><img src={{event.preview}} style="max-width: 100px; max-height: 100px">{{event.filename}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>
</main>