<header>
  <h1>{{inline-svg 'icon'}} ember-file-upload</h1><nav>
    <a href="#docs">Docs</a>
    <a href="#recipes">Recipes</a>
    <a href="#aws-integration">AWS Integration</a>
    <a href="https://github.com/tim-evans/ember-file-upload" target="__blank">GitHub</a>
  </nav>
</header>

<div class="hero">
  <p>A file upload framework <br>for <img class="ember-logo" alt="ember" src="assets/images/ember-logo.png" /> apps</p>
  <a class="more" href="#installation">{{inline-svg 'arrow'}}</a>
</div>

<main>
  <section id="installation">
    <h2>Installation</h2>
    {{#console-window}}
      <span class="ps1">$ </span>ember install ember-file-upload
    {{/console-window}}
  </section>

  <section id="usage">
    <h2>Usage</h2>
    <div class="grid">
      <div class="half">
      </div>
    </div>
  </section>

  <section id="recipes">
    <h2>Recipes</h2>
    <div class="grid">
      <div class="half">
        {{#console-window title="components/photo-uploader/template.hbs"}}
          <code>{{highlight '{{title "' model.title '"}}'}}
          </code>
        {{/console-window}}
      </div>
    </div>
  </section>

  <section id="demo">
    <h2>Demo</h2>
    <div class="grid">
      <div class="half">
        {{#app-window title="Photos of My Cat"}}
          {{#with (file-dropzone for="images") as |dropzone|}}
            {{#if dropzone.active}}
              {{if dropzone.valid}}
                Cat eating file
              {{else}}
                Cat hissing
              {{/if}}
            {{else}}
              Normal Cat
            {{/if}}

            {{#if dropzone.enabled}}
              Drag and drop cat photos!
            {{/if}}
            {{#file-upload for-dropzone="body"
                           queue=(upload-queue for="images")
                           multiple=false
                           onfileadd=(action "uploadImage")
                           accept="image/*"}}
              <a id="upload-image" >Add an Image.</a>
            {{/file-upload}}

            {{#with (upload-queue for="images") as |queue|}}
              {{#if queue.uploads.length}}
                Uploading {{queue.uploads.length}} files. ({{queue.uploads.progress}}%)
              {{/if}}
            {{/with}}
          {{/with}}
        {{/app-window}}
        <h4>Events</h4>
        <ul>
          {{#each events as |event|}}
            <li><img src={{event.preview}} style="max-width: 100px; max-height: 100px">{{event.filename}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>
</main>