<div class="docs-my-8 text-center">
  <FileDropzone @name="photos" class="demo-dropzone" as |dropzone queue|>
    <div class="dropzone-upload-area upload {{if dropzone.active "active"}}">
      {{#if dropzone.supported}}
        <div class="emoji mb-16">
          {{#if dropzone.active}}
            {{#if dropzone.valid}}
              ✨👽✨
            {{else}}
              🐮
            {{/if}}
          {{else}}
            👽
          {{/if}}
        </div>
      {{/if}}

      <p>
        {{#if dropzone.supported}}
          Drag image, video or audio files here or
        {{/if}}
        <FileUpload @name="photos" @for="upload-photo" @multiple={{true}} @onFileAdd={{this.uploadProof}} @accept="image/*,video/*,audio/*">
          <a {{!template-lint-disable link-href-attributes}}>choose files</a>
        </FileUpload>
        to upload.
      </p>

      {{#if queue.files.length}}
        Uploading {{queue.files.length}} files. ({{queue.progress}}%)
      {{/if}}
    </div>
  </FileDropzone>
</div>
<div class="my-16">
  <ul class="demo-uploaded-files-list">
    {{#each @files as |file|}}
      <li>
        <div class="card text-center">
          {{#if file.file}}
            <div class="mb-4">{{file.file.progress}}%</div>
          {{else if (equals file.type "image")}}
            <img src={{file.preview}} alt={{file.filename}}>
          {{else if (equals file.type "video")}}
            <video src={{file.preview}} alt={{file.filename}} muted loop autoplay>
            </video>
          {{/if}}
          <span class="caption">{{file.filename}}</span>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
