{{#let (file-queue name="photos" onFileAdded=(perform this.uploadProof) onUploadSucceeded=@onUploadSucceeded) as |queue|}}
  <div class="docs-my-8 text-center">
    <FileDropzone @queue={{queue}} class="demo-dropzone" as |dropzone|>
      <div class="dropzone-upload-area upload {{if dropzone.active "active"}}">
        {{#if dropzone.supported}}
          <div class="emoji mb-16">
            {{#if dropzone.active}}
              ✨👽✨
            {{else}}
              👽
            {{/if}}
          </div>
        {{/if}}

        <p>
          {{#if dropzone.supported}}
            Drag image, video or audio files here to upload.
          {{/if}}
        </p>
        <p>
          <label for="upload-photo">
            Or choose a file:
            <input
              type="file"
              id="upload-photo"
              accept="image/*,video/*,audio/*"
              multiple
              {{queue.selectFile}}
            >
          </label>
        </p>

        {{#if queue.files.length}}
          Uploading {{queue.files.length}} files. ({{queue.progress}}%)
        {{/if}}
      </div>
    </FileDropzone>
  </div>
  <div class="my-16">
    <ul class="demo-uploaded-files-list">
      {{#each @files as |file|}}
        <li>
          <div class="card text-center">
            {{#if file.file}}
              <div class="mb-4">{{file.file.progress}}%</div>
            {{else if file.isImage}}
              <img src={{file.preview}} alt={{file.filename}}>
            {{else if file.isVideo}}
              <video src={{file.preview}} alt={{file.filename}} muted loop autoplay>
              </video>
            {{/if}}
            <span class="caption">{{file.filename}}</span>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
{{/let}}
